{% extends "base.jinja2" %}

{% block content %}
        <div class="flex mt-12 justify-between">
            <div class="container flex flex-col w-full">
                <div class="bg-white rounded-lg">
                    <div class="w-10/12 m-auto">
                        <div class="border border-gray-700">content</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
