{% extends 'tiku/area/base.jinja2' %}

{% block title %}
{{ super() }} - {{ subjects.get_item(request.path_params['subject'])['name_zh'] }}
{% endblock title %}

{% block paperentry %}
                <div class="flex bg-white rounded-lg p-4">
                    <div class="font-light text-base">
                        <span class="text-gray-700">已做 {{ 1 }} 题</span>
                        <span class="text-gray-400"> / 共 ∞ 题</span>
                    </div>
                    <div class="ml-4 text-blue-400 text-base">
                        <a href="{{ url_for('tiku_paper', subject=request.path_params['subject']) }}?type=random">随机选题</a>
                    </div>
                </div>
{% endblock %}
