{% extends "user/homepage.jinja2" %}

{% block user_main %}
<div class="m-12">
    <form method="post" action="{{ url_for('change_password_action', username=current_user.name) }}">
        <label class="block">
            <input
                type="password"
                name="password_new"
                class="form-input mt-1 block w-full border border-gray-300"
                placeholder="新密码"
            />
        </label>
        <label class="block">
            <input
                type="password"
                name="password_new_check"
                class="form-input mt-1 block w-full border border-gray-300"
                placeholder="再次输入新密码"
            />
        </label>
        {% if message %}
        <p class="text-red-500 my-2">{{ message }}</p>
        {% endif %}
        <button
            type="submit"
            class="block mx-auto mt-4 px-10 py-3 bg-main"
        >更改密码</button>
    </form>
</div>
{% endblock %}
