{% extends "user/homepage.jinja2" %}

{% block user_main %}
<div class="m-12 w-full">
    <h1 class="font-lg text-3xl pb-4">创建考试</h1>
    <form action="{{ url_for('create_exam_action') }}" method="post" class="space-y-5">
        <label class="block">
            <span class="pr-4">标题 <span class="text-red-500 font-bold">*</span>：(20 字之内)</span>
            <input type="text" name="title" class="form-input border-2 h-10 w-2/5" maxlength="20" required/>
        </label>
        <label class="block">
            <span class="pr-4">详情：(200 字之内)</span>
            <textarea type="text" name="detail" class="form-textarea border-2 h-32 flex-wrap w-full" maxlength="200" placeholder="可留空"></textarea>
        </label>
        <label class="block">
            <span class="pr-4">出题依据</span>
            <select name="type" class="form-select inline-block w-3/12 border-2 h-10">
                <option value="random">随机</option>
            </select>
        </label>
        <label class="block">
            <span class="pr-4">开始时间 <span class="text-red-500 font-bold">*</span>：</span>
            <input type="datetime-local" name="start_time" required/>
        </label>
        <label class="block">
            <span class="pr-4">结束时间 <span class="text-red-500 font-bold">*</span>：</span>
            <input type="datetime-local" name="end_time" required/>
        </label>
        <label class="block">
            <span class="pr-4">标签 <span class="text-red-500 font-bold">*</span>：(20 字之内，用于区分考试的唯一标签)</span>
            <input type="text" name="tag" class="form-input border-2 h-10 w-2/5" maxlength="20" placeholder="比如：基金春季第一次考试" required/>
        </label>
        <button type="submit" class="block mx-auto mt-4 px-10 py-3 bg-main">创建考试</button>
    </form>
</div>
{% endblock user_main %}
