{% extends 'base.jinja2' %}

{% block title %}User - R{% endblock %}

{% block content %}
        <div class="flex mt-12 justify-between">
            <!-- left nav -->
            <div class="container bg-white w-48 h-full py-2 text-base font-light rounded-lg">
                <div class="flex items-center w-full my-6 justify-center">
                    <img
                        class="w-24 h-24 rounded-full"
                        alt="Avater"
                        src="{{ url_for('static', path='img/default-avatar.jpg') }}"
                    />
                </div>
                <div class="items-center grid grid-cols-1">
                    <a class="flex px-4 items-center h-12 w-full hover:bg-gray-200" href="#">
                        <svg class="inline-block w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
                        <span class="pl-3">首页</span>
                    </a>
                </div>
                <hr class="w-3/4">
                <div class="items-center grid grid-cols-1">
                    <span class="ml-8 text-gray-400">个人中心</span>
                    <a class="flex px-4 items-center h-12 w-full hover:bg-gray-200" href="{{ url_for('homepage', username=current_user.name) }}">
                        <svg class="inline-block w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
                        <span class="pl-3">查看信息</span>
                    </a>
                    <a class="flex px-4 items-center h-12 w-full hover:bg-gray-200" href="#">
                        <svg class="inline-block w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
                        <span class="pl-3">修改资料</span>
                    </a>
                </div>
                {% if current_user.is_superuser %}
                <hr class="w-3/4">
                <div class="items-center grid grid-cols-1">
                    <span class="ml-8 text-gray-400">考试管理</span>
                    <a class="flex px-4 items-center h-12 w-full hover:bg-gray-200" href="{{ url_for('homepage', username=current_user.name) }}">
                        <svg class="inline-block w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
                        <span class="pl-3">考试列表</span>
                    </a>
                    <a class="flex px-4 items-center h-12 w-full hover:bg-gray-200" href="{{ url_for('create_exam') }}">
                        <svg class="inline-block w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
                        <span class="pl-3">创建考试</span>
                    </a>
                </div>
                {% endif %}
                <hr class="w-3/4">
                <div class="items-center grid grid-cols-1">
                    <span class="ml-8 text-gray-400">账户操作</span>
                    <a class="flex px-4 items-center h-12 w-full hover:bg-gray-200" href="{{ url_for('change_password', username=current_user.name) }}">
                        <svg class="inline-block w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
                        <span class="pl-3">修改密码</span>
                    </a>
                    <a class="flex px-4 items-center h-12 w-full hover:bg-gray-200" href="{{ url_for('logout') }}">
                        <svg class="inline-block w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
                        <span class="pl-3">登出</span>
                    </a>
                </div>
            </div>
            <!-- right main -->
            <div class="container w-4/5">
                <div class="flex bg-white rounded-lg">
                    {% block user_main %}
                    {% if current_user.is_superuser %}
                    <div class="m-12">
                        <a href="{{ url_for('create_exam') }}"
                            class="text-blue-400"
                        >创建考试</a>
                    </div>
                    {% else %}
                    <div class="m-12 space-y-3">
                        <p class="text-3xl">个人资料</p>
                        <p>用户名：{{ current_user.name }}</p>
                        <p>邮箱：{{ current_user.email }}</p>
                        <p>微信：{% if current_user.wechat %}{{ current_user.wechat }}{% else %}{{ '空' }}{% endif %}</p>
                        <p>创建时间：{{ current_user.created_time }}</p>
                        <p>初次登陆时间：{{ current_user.first_login }}</p>
                        <p class="font-thin text-xs">账号状态：{{ current_user.is_active }}</p>
                        <!-- <p class="font-thin text-xs">登录凭据过期日期：{{ current_user.exp }}</p> -->
                    </div>
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
{% endblock %}
