{% extends 'base.jinja2' %}

{% block title %}{% endblock title %}

{% block content %}
        <div class="h-12 pt-4 pb-8 text-sm">
            <p class="inline-block">当前位置：</p>
            <a href="/">首页</a>
            <i> > </i>
            {% block nav_first_link %}{% endblock %}
            <i> > </i>
            {% block nav_second_link %}{% endblock %}
            <i> > </i>
            <p class="inline-block">{% block paper_type %}{% endblock %}</p>
        </div>
        <div class="flex justify-between">
            <div class="container flex flex-col space-y-3 w-870">
                <div class="bg-white rounded-lg px-7 py-5">
                    <div class="pb-1 font-medium text-lg">
                        <p>{% block paper_header_title %}{% endblock paper_header_title %}</p>
                    </div>
                    <div class="font-light text-base">
                        <span class="text-gray-700">
                        {% block paper_header_qdone %}{% endblock paper_header_qdone %}
                        </span>
                        <span class="text-gray-400"> / </span>
                        <span class="text-gray-400">
                        {% block paper_header_qcount %}{% endblock paper_header_qcount %}
                        </span>
                    </div>
                </div>
                <div class="bg-white rounded-lg px-7 py-5">
                    {% block paper_body %}
                    <div class="container">
                        <p class="font-medium text-base py-3">{% block question_number %}NaN、{% endblock %}{% if question %}{{ question['question'] }}{% else %}题目拉取出错{% endif %}</p>
                        {% if question %}
                        <form action="{% block paper_body_action %}{% endblock %}" method="post">
                            <input type="hidden" name="{% block paper_body_hidden1_name %}{% endblock %}" value="{% block paper_body_hidden1_value %}{% endblock %}">
                            <input type="hidden" name="{% block paper_body_hidden2_name %}{% endblock %}" value="{% block paper_body_hidden2_value %}{% endblock %}">
                            <input type="hidden" name="{% block paper_body_hidden3_name %}{% endblock %}" value="{% block paper_body_hidden3_value %}{% endblock %}">
                            <ul class="font-light text-sm">
                                <li>
                                    <div class="block cursor-pointer hover:bg-gray-100 {% if exam_picked == 'A' %}bg-gray-100{% endif %}">
                                        <button type="submit" class="w-full px-2 py-2 focus:outline-none" name="picked" value="A">
                                            {% if exam_picked == 'A' or picked == 'A' %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613557019322" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1124" width="200" height="200"><path d="M512 64C264.58 64 64 264.58 64 512s200.58 448 448 448 448-200.57 448-448S759.42 64 512 64z m238 359.1L478.42 694.63a32 32 0 0 1-45.26 0l-135.79-135.8a32 32 0 0 1 45.26-45.25l113.16 113.16 248.9-248.9A32 32 0 0 1 750 423.1z" p-id="1125" fill="#00e25a"></path></svg>
                                            {% else %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613029274773" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1744" width="250" height="250"><path d="M512 85.333333C276.48 85.333333 85.333333 276.48 85.333333 512S276.48 938.666667 512 938.666667 938.666667 747.52 938.666667 512 747.52 85.333333 512 85.333333z m0 796.444445c-203.662222 0-369.777778-166.115556-369.777778-369.777778S308.337778 142.222222 512 142.222222 881.777778 308.337778 881.777778 512 715.662222 881.777778 512 881.777778z" p-id="1745" fill="#cdcdcd"></path></svg>
                                            {% endif %}
                                            <span class="font-light text-sm ml-2.5 mt-0.5 align-middle float-left">{% block paper_body_option_a %}{% endblock %}</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="block cursor-pointer hover:bg-gray-100 {% if exam_picked == 'B' %}bg-gray-100{% endif %}">
                                        <button type="submit" class="w-full px-2 py-2 focus:outline-none" name="picked" value="B">
                                            {% if exam_picked == 'B' or picked == 'B' %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613557019322" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1124" width="200" height="200"><path d="M512 64C264.58 64 64 264.58 64 512s200.58 448 448 448 448-200.57 448-448S759.42 64 512 64z m238 359.1L478.42 694.63a32 32 0 0 1-45.26 0l-135.79-135.8a32 32 0 0 1 45.26-45.25l113.16 113.16 248.9-248.9A32 32 0 0 1 750 423.1z" p-id="1125" fill="#00e25a"></path></svg>
                                            {% else %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613029274773" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1744" width="250" height="250"><path d="M512 85.333333C276.48 85.333333 85.333333 276.48 85.333333 512S276.48 938.666667 512 938.666667 938.666667 747.52 938.666667 512 747.52 85.333333 512 85.333333z m0 796.444445c-203.662222 0-369.777778-166.115556-369.777778-369.777778S308.337778 142.222222 512 142.222222 881.777778 308.337778 881.777778 512 715.662222 881.777778 512 881.777778z" p-id="1745" fill="#cdcdcd"></path></svg>
                                            {% endif %}<span class="font-light text-sm ml-2.5 mt-0.5 align-middle float-left">{% block paper_body_option_b %}{% endblock %}</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="block cursor-pointer hover:bg-gray-100 {% if exam_picked == 'C' %}bg-gray-100{% endif %}">
                                        <button type="submit" class="w-full px-2 py-2 focus:outline-none" name="picked" value="C">
                                            {% if exam_picked == 'C' or picked == 'C' %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613557019322" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1124" width="200" height="200"><path d="M512 64C264.58 64 64 264.58 64 512s200.58 448 448 448 448-200.57 448-448S759.42 64 512 64z m238 359.1L478.42 694.63a32 32 0 0 1-45.26 0l-135.79-135.8a32 32 0 0 1 45.26-45.25l113.16 113.16 248.9-248.9A32 32 0 0 1 750 423.1z" p-id="1125" fill="#00e25a"></path></svg>
                                            {% else %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613029274773" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1744" width="250" height="250"><path d="M512 85.333333C276.48 85.333333 85.333333 276.48 85.333333 512S276.48 938.666667 512 938.666667 938.666667 747.52 938.666667 512 747.52 85.333333 512 85.333333z m0 796.444445c-203.662222 0-369.777778-166.115556-369.777778-369.777778S308.337778 142.222222 512 142.222222 881.777778 308.337778 881.777778 512 715.662222 881.777778 512 881.777778z" p-id="1745" fill="#cdcdcd"></path></svg>
                                            {% endif %}<span class="font-light text-sm ml-2.5 mt-0.5 align-middle float-left">{% block paper_body_option_c %}{% endblock %}</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="block cursor-pointer hover:bg-gray-100 {% if exam_picked == 'D' %}bg-gray-100{% endif %}">
                                        <button type="submit" class="w-full px-2 py-2 focus:outline-none" name="picked" value="D">
                                            {% if exam_picked == 'D' or picked == 'D' %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613557019322" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1124" width="200" height="200"><path d="M512 64C264.58 64 64 264.58 64 512s200.58 448 448 448 448-200.57 448-448S759.42 64 512 64z m238 359.1L478.42 694.63a32 32 0 0 1-45.26 0l-135.79-135.8a32 32 0 0 1 45.26-45.25l113.16 113.16 248.9-248.9A32 32 0 0 1 750 423.1z" p-id="1125" fill="#00e25a"></path></svg>
                                            {% else %}
                                            <svg class="inline-block w-6 h-6 float-left" t="1613029274773" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1744" width="250" height="250"><path d="M512 85.333333C276.48 85.333333 85.333333 276.48 85.333333 512S276.48 938.666667 512 938.666667 938.666667 747.52 938.666667 512 747.52 85.333333 512 85.333333z m0 796.444445c-203.662222 0-369.777778-166.115556-369.777778-369.777778S308.337778 142.222222 512 142.222222 881.777778 308.337778 881.777778 512 715.662222 881.777778 512 881.777778z" p-id="1745" fill="#cdcdcd"></path></svg>
                                            {% endif %}<span class="font-light text-sm ml-2.5 mt-0.5 align-middle float-left">{% block paper_body_option_d %}{% endblock %}</span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        {% endif %}
                    </div>
                    {% endblock %}
                </div>
                <div class="bg-white rounded-lg px-7 py-2">
                    {% block paper_tail %}
                    <div class="container flex justify-around text-base">
                        <div class="mx-auto py-2">
                            <a href="{% block paper_tail_previous %}{% endblock %}" class="inline-block w-48 h-full m-auto text-center leading-8">
                                <svg class="inline-block w-6 h-6 mr-4" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_1"><path d="M14,8.014V1.739L0.514,14L14,26.261v-6.247c16.146,0.465,29.722,12.162,32.486,28.156L46.63,49h2.009l0.102-0.886   C48.915,46.598,49,45.252,49,44C49,24.484,33.39,8.545,14,8.014z M13,18h-1v3.739L3.486,14L12,6.261V10h1   c18.073,0,32.898,14.176,33.941,31.992C41.958,27.791,28.512,18,13,18z"/></g><g/></svg>
                                <span class="align-middle">上一题</span>
                            </a>
                        </div>
                        <div class="mx-auto py-2">
                            <a href="{% block paper_tail_next %}{% endblock %}" class="inline-block w-48 h-full m-auto text-center leading-8">
                                <span class="align-middle">下一题</span>
                                <svg class="inline-block w-6 h-6 ml-4" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_1"><path d="M36,8.014C16.61,8.545,1,24.484,1,44c0,1.252,0.085,2.598,0.26,4.114L1.361,49H3.37l0.144-0.83   C6.278,32.176,19.854,20.479,36,20.014v6.247L49.486,14L36,1.739V8.014z M38,10V6.261L46.514,14L38,21.739V18h-1   C21.488,18,8.042,27.791,3.059,41.992C4.102,24.176,18.927,10,37,10H38z"/></g><g/></svg>
                            </a>
                        </div></div>
                    {% endblock %}
                </div>
            </div>
            <div class="container flex flex-col space-y-3 w-280 pb-20">
                <div class="bg-white rounded-lg px-7 py-5">
                    <a href="{% block back_to_link %}{% endblock %}" class="text-blue-400">后退</a>
                </div>
                {% block question_list_nav %}
                {% endblock question_list_nav %}
            </div>
        </div>
{% endblock %}
