{# assigned variable statement #}
{# `question`: selected question detail #}
{# `question_list`: queried question list dicted in question_id and answer #}
{# `answer_records`: queried user answer caches fresh and unique list #}

{% extends "paper/base.jinja2" %}

{% if not question_order %}
{% set question_order = request.path_params['order']|int %}
{% endif %}
{% if not subject %}
{% set subject = subjects.get_item(request.path_params['subject']) %}
{% endif %}

{% block title %}
顺序做题 - {{ subject['name_zh'] }}
{% endblock title %}

{% block nav_first_link %}
<a href="{{ url_for('tiku_area_index') }}">题库</a>
{% endblock nav_first_link %}

{% block nav_second_link %}
<a href="{{ url_for('tiku_area', subject=subject['alias']) }}">{{ subject['name_zh'] }}</a>
{% endblock %}

{% block paper_type %}顺序做题{% endblock %}

{% block paper_header_title %}
{{ subject['name_zh'] }}顺序做题练习
{% endblock paper_header_title %}

{% block paper_header_qdone %}已做 {{ answer_records|length }} 题{% endblock paper_header_qdone %}
{% block paper_header_qcount %}共 {{ subject['question_count'] }} 题{% endblock paper_header_qcount %}


{% block question_number %}{{ question_order }}、{% endblock %}

{% block paper_body_action %}{{ url_for('get_answer_order') }}{% endblock paper_body_action %}

{% block paper_body_hidden1_name %}qid{% endblock %}
{% block paper_body_hidden1_value %}{{ question.id }}{% endblock %}
{% block paper_body_hidden2_name %}subject{% endblock paper_body_hidden2_name %}
{% block paper_body_hidden2_value %}{{ subject['alias'] }}{% endblock paper_body_hidden2_value %}
{% block paper_body_hidden3_name %}order{% endblock paper_body_hidden3_name %}
{% block paper_body_hidden3_value %}{{ question_order }}{% endblock paper_body_hidden3_value %}

{% block paper_body_option_a %}{{ question['option_a'] }}{% endblock paper_body_option_a %}
{% block paper_body_option_b %}{{ question['option_b'] }}{% endblock paper_body_option_b %}
{% block paper_body_option_c %}{{ question['option_c'] }}{% endblock paper_body_option_c %}
{% block paper_body_option_d %}{{ question['option_d'] }}{% endblock paper_body_option_d %}


{% block paper_tail_previous %}
{% if question_order - 1 != 0 %}
{{ url_for('tiku_paper_order', subject=subject['alias'], order=question_order-1) }}
{% endif %}
{% endblock %}
{% block paper_tail_next %}
{% if question_order != subject['question_count'] %}
{{ url_for('tiku_paper_order', subject=subject['alias'], order=question_order+1) }}
{% endif %}
{% endblock %}


{% block question_list_nav %}
<div class="bg-white rounded-lg px-2 py-5">
    <span class="block pb-3 px-2">答题情况</span>
    <div>
        <div class="h-96 grid grid-cols-7 gap-1.5 overflow-y-auto">
            {% for i in range(subject['question_count']) %}
            <a href="{{ url_for('tiku_paper_order', subject=subject['alias'], order=i+1) }}"
                class="block p-0.5 bg-white border text-center {% if i+1 == question_order %}bg-gray-300 border-gray-300{% endif %}"
            >{{ i + 1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="pt-4 leading-8">
        <form action="{{ url_for('paper_order_refresh', subject=subject['alias']) }}" method="post">
            <button
                class="block bg-main text-center align-middle w-2/5 h-full mx-auto"
            >
                <span class="text-center align-middle">重置记录</span>
            </button>
        </form>
    </div>
</div>
{% endblock question_list_nav %}


{% block back_to_link %}{{ url_for('exam_entry') }}{% endblock back_to_link %}
