{% extends 'paper/base.jinja2' %}

{% set subject = subjects.get_item(request.path_params['subject']) %}

{% block title %}
{{ super() }} - {{ subject['name_zh'] }}
{% endblock title %}

{% block nav_first_link %}
<a href="{{ url_for('tiku_area_index') }}">题库</a>
{% endblock nav_first_link %}

{% block nav_second_link %}
<a href="{{ url_for('tiku_area', subject=subject['alias']) }}">{{ subject_dict['name_zh'] }}</a>
{% endblock %}

{% block paper_type %}顺序做题{% endblock %}

{% block paper_header_title %}
{{ subject_dict['name_zh'] }}顺序做题
{% endblock paper_header_title %}

{% block paper_header_qdone %}
已做 {{ done_count }} 题
{% endblock paper_header_qdone %}

{% block paper_header_qcount %}
共 {{ subject_dict }} 题
{% endblock paper_header_qcount %}


{% block paper_body_action %}{{ url_for('get_answer') }}{% endblock paper_body_action %}

{% block paper_body_hidden1_name %}id{% endblock %}
{% block paper_body_hidden1_value %}{{ question.id }}{% endblock %}
{% block paper_body_hidden2_name %}subject{% endblock %}
{% block paper_body_hidden2_value %}{{ current_subject }}{% endblock %}

{% block paper_body_option_a %}{{ question['option_a'] }}{% endblock paper_body_option_a %}
{% block paper_body_option_b %}{{ question['option_b'] }}{% endblock paper_body_option_b %}
{% block paper_body_option_c %}{{ question['option_c'] }}{% endblock paper_body_option_c %}
{% block paper_body_option_d %}{{ question['option_d'] }}{% endblock paper_body_option_d %}


{% block paper_tail_previous %}{{ url_for('tiku_paper', subject=current_subject) }}?qtype=random{% endblock %}
{% block paper_tail_next %}{{ url_for('tiku_paper', subject=current_subject) }}?qtype=random{% endblock %}


{% block back_to_link %}{{ url_for('tiku_area', subject=current_subject) }}{% endblock %}


{% block question_list_nav %}

{% endblock question_list_nav %}
