{% extends "user/homepage.jinja2" %}

{% block user_main %}
<div class="m-12 w-full">
    <h1 class="font-lg text-3xl pb-4">{% if not created_exam %}创建考试{% else %}创建成功{% endif %}</h1>
    {% if message %}
    <p class="text-red-500 py-2">{{ message }}</p>
    {% endif %}
    <form action="{{ url_for('create_exam_action') }}" method="post" class="space-y-5">
        <label class="block">
            <span class="pr-4">标题 <span class="text-red-500 font-bold">*</span>：(20 字之内)</span>
            {% if not created_exam %}
            <input type="text" name="title" class="form-input border-2 h-10 w-2/5" maxlength="20" required/>
            {% else %}
            <span>{{ created_exam['title'] }}</span>
            {% endif %}
        </label>
        <label class="block">
            <span class="pr-4">详情：(200 字之内)</span>
            {% if not created_exam %}
            <textarea type="text" name="detail" class="form-textarea border-2 h-32 flex-wrap w-full" maxlength="200" placeholder="可留空"></textarea>
            {% else %}
            <span>{{ created_exam['detail'] }}</span>
            {% endif %}
        </label>
        <label class="block">
            <span class="pr-4">科目</span>
            {% if not created_exam %}
            <select name="subject" class="form-select inline-block w-3/12 border h-10">
                <option value="fb">基金基础</option>
                <option value="fr">基金法规</option>
                <option value="sr">证券法规</option>
            </select>
            {% else %}
            <span>{{ subjects.get_item(created_exam['subject'])['name_zh'] }}</span>
            {% endif %}
        </label>
        <label class="block">
            <span class="pr-4">出题依据</span>
            {% if not created_exam %}
            <select name="type" class="form-select inline-block w-3/12 border h-10">
                <option value="random">随机</option>
            </select>
            {% else %}
            <span>{{ created_exam['type'] }}</span>
            {% endif %}
        </label>
        <label class="block">
            <span class="pr-4">开始时间 <span class="text-red-500 font-bold">*</span>：</span>
            {# <input type="datetime-local" name=""> #}
            {% if not created_exam %}
            <input type="date" name="start_time_date" class="pr-8" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required/>
            <input type="time" name="start_time_time" pattern="[0-9]{2}:[0-9]{2}" required/>
            {% else %}
            <span>{{ created_exam['start_time'] }}</span>
            {% endif %}
        </label>
        <label class="block">
            <span class="pr-4">结束时间 <span class="text-red-500 font-bold">*</span>：</span>
            {# <input type="datetime-local" name=""> #}
            {% if not created_exam %}
            <input type="date" name="end_time_date" class="pr-8" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required/>
            <input type="time" name="end_time_time" pattern="[0-9]{2}:[0-9]{2}" required/>
            <span class="font-thin text-xs">注：火狐浏览器的时间控件里第一个栏目按 `a` 键是上午，`p` 键是下午</span>
            {% else %}
            <span>{{ created_exam['end_time'] }}</span>
            {% endif %}
            <!-- <span>a for a.m. while p for p.m.</span> -->
        </label>
        <label class="block">
            <span class="pr-4">标签 <span class="text-red-500 font-bold">*</span>：(20 字之内，用于区分考试的唯一标签)</span>
            {% if not created_exam %}
            <input type="text" name="tag" class="form-input border-2 h-10 w-2/5" maxlength="20" placeholder="比如：基金春季第一次考试" required/>
            {% else %}
            <span>{{ created_exam['tag'] }}</span>
            {% endif %}
        </label>
        {% if not created_exam %}
        <button type="submit" class="block mx-auto mt-4 px-10 py-3 bg-main">创建考试</button>
        {% endif %}
    </form>
    {% if created_exam %}
    <div class="py-6">
        <a href="{{ url_for('create_exam') }}" class="text-blue-400 block">再创建一场考试</a>
        <br>
        <a href="{{ url_for('exam_entry') }}" class="text-blue-400 block">去考试页面</a>
    </div>
    <form action="{{ url_for('delete_exam') }}" method="post">
        <input type="hidden" name="tag" value="{{ created_exam['tag'] }}"/>
        <button type="submit" class="block px-6 py-2 bg-red-500">信息有误，删掉考试</button>
    </form>
    {% endif %}
</div>
{% endblock user_main %}
